.Home{

}

.Home__Image{
    height: 350px;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1), rgba(0,0,0,0));
}

.Home__Row {
    display: flex;
}

.Home__Row > *{
    flex-wrap: wrap;
}